<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  MI perfil
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a (click)="Perfil()" class="dropdown-item">Administrar Perfil</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-success" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {{nombreSesion}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a (click)="Login()" class="dropdown-item">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="d-none d-sm-block">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </a>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <div>
                        <img src="../../assets/img/icono-pequeño.png">
                    </div>
                    <div>
                        <button type="button" style="margin-left:50px" class="btn btn-warning dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" value="Registrarme">
                            Especialidades
                            </button>
                    </div>
                    <div>
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class=" form-group text-center">
                        <div class="dropdown">
                            <a class="nav-link active" aria-current="page" id="dropdownMenuButton" data-bs-toggle="dropdown" value="Registrarme">
                            Registrate
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Como Especialista</a></li>
                                <li><a (click)="UsuarioAdd()" class="dropdown-item">Como Usuario</a></li>
                            </ul>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Ingresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
                            <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
                          </svg> Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>