<app-header-movil-web></app-header-movil-web>

<div class="">
    <form action="" id="formulario">
        <div class="d-flex">
            <div class="column-1">
            </div>
            <div class="col-12 col-xs-4 col-sm-6 col-md-6 main-container">
                <div class="" align="center">
                    <img src="../../../assets/img/imagen_editar_password.png">
                </div>
                <p>
                </p>
                <div class="text-center col-12 ">
                    <h3>¿Olvidaste tu contraseña?</h3>
                </div>
                <P></P>
                <div class="text-center ">
                    <h6>¡No te preocupes! Ingresa tu e-mail y te enviaremos una nueva contraseña en unos minutos</h6>
                </div>
                <div class="card-body text-center">
                    <form method="post">
                        <div>
                            <label for="">E-mail:</label>
                        </div>
                        <div>
                            <input type="text" class="form-control" name="mensaje_correo" id="mensaje_correo" placeholder="Usuario" autofocus required>
                        </div>
                        <div class="col-12 col-xs-12">
                            <label style="font-size:12px;" type="button" class="btn text-center col-12 d-flex justify-content-center">Si olvidaste tu correo electrónico comunicate con ayuda@xxxxx</label>
                        </div>
                        <p>
                        </p>
                        <div class="gap-1 col-9 mx-auto">
                            <button class="btn btn-warning" style="font-weight:bold;" type="button"><h3>ENVIAR</h3></button>
                        </div>
                        <div class="col-12 col-xs-12">
                            <label style="font-size:12px;" type="button" class="btn text-center col-12 d-flex justify-content-center">Ingresa a FIVE</label>
                            <label style="font-size:12px;" type="button" class="btn text-center col-12 d-flex justify-content-center">Crear cuenta</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column-2 d-none d-xl-block">
                <img src="../../assets/img/imagen-fondo-derecha.png" class="d-none d-md-block" width="220" height="220" style="max-width:100%;width:100%;height:580px;">
            </div>
        </div>
    </form>
    <footer class="bg-white rounded-top justify-content-center">
        <div class="container text-center">
            <div class="d-xl-none text-center rounded-top" align="center ">
                <img src="../../assets/img/imagen-footer.png" style="max-width:100%;width:100%;height:150px;">
            </div>
        </div>
    </footer>
</div>
<!---
<form action="" id="formulario_editar_password">
    <div class="d-flex justify-content-center">
        <div class="card col-4 ">
            <div class="card-header text-center">Ingrese Correo - Recuperar Contraseña</div>
            <div class="card-body ">
                <form method="post">
                    <div class="form-group form-floating col-sm-3 col-lg-12">
                        <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuario" autofocus required>
                        <label for="floatingInput">Correo electrónico</label>
                    </div>
                    <p></p>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-3 ">
                            <input (click)="Enviar()" type="submit" class="btn btn-lg btn-primary btn-block" value="Enviar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>
-->