#formulario {
    width: 100%;
    padding: 1px;
    margin-top: 20px;
    text-align: center;
}

#formulario-2 {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    text-align: center;
}

.modal {
    width: 88%;
    padding: 30px;
    margin-top: 90px;
    text-align: center;
}

.modal-body,
.card-body-2,
.column-1 {
    padding: 0%;
}

.modal-header {
    padding: 1%;
}

.modal-content {
    width: 130%;
}

.column-2 {
    padding: 0;
    width: 25%;
}

.main-container {
    padding: 2%;
    width: 60%;
}

.column-1 {
    width: 25%;
}