<!--
<p>servicio-especialidad works! </p>
<option *ngFor="let espc of especialidades" value="">{{espc.espe_nombre}}</option>

-->

<app-header-movil-web></app-header-movil-web>
<div class="left d-none d-md-block">
</div>
<div class="main">
    <div class="container-sm container col-sm-12 col-md-6 col-xl-12 col-12">

        <div class="row">
            <div class="column">

            </div>
            <div class="column-2">
                <div class="row">
                    <div class="col-xl-12 d-none d-xl-block">
                        <h3 style="color: black;font-weight:bold;background-color: gold; border-radius: 10px;">¡BIENVENIDO(A) {{nombre_usuario}}!</h3>
                    </div>
                </div>
                <div class="col-xl-12 text-center">
                    <label for="">Especialidades</label>
                </div>
                <div class="row">
                    <p></p>
                    <div class="col-xl-6 col-sm-6 col-6 text-center opciones" *ngFor="let especialidades_servicios of especialidades">
                        <button [routerLink]="['/especialista-especialidad',especialidades_servicios.espe_id]" type="button" value="{{especialidades_servicios.espe_id}}" for="">{{especialidades_servicios.espe_nombre}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer-movil></app-footer-movil>
</div>


<div class="right d-none d-md-block">
    <img src="../../assets/img/imagen-fondo-derecha.png" width="220" height="220" style="max-width:100%;width:100%;height:580px;">

</div>