<div class="d-none d-xl-block">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="header">

            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <div>
                        <img src="../../assets/img/icono-pequeño.png">
                    </div>
                    <div>
                        <button type="button" style="margin-left:50px" class="btn btn-warning dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" value="Registrarme">
                            Especialidades
                            </button>
                    </div>
                    <div class="col-xl-4 buscador">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class=" form-group text-center col-xl-2 registro">
                        <div class="dropdown">
                            <a class="nav-link active registrate" aria-current="page" id="registrate" data-bs-toggle="dropdown" value="Registrarme">
                            Registrate
                            </a>
                            <ul class="dropdown-menu" type="button" aria-labelledby="dropdownMenuButton">
                                <button class=" btn btn-warning" type="button" style="margin-left: 10px;padding: 0;" href="#">Como Especialista</button>
                                <p></p>
                                <button (click)="UsuarioAdd()" type="button" class="btn btn-warning" style="margin-left: 20px;padding: 0;">Como Usuario</button>
                            </ul>
                        </div>
                    </div>
                    <li class="nav-item col-xl-2">
                        <button class="btn btn-dark" (click)="abrirModal()" aria-current="page">Ingresa</button>
                    </li>
                    <li class="nav-item col-xl-2">
                        <a class="nav-link active" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
                            <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
                          </svg> Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>