<div class="d-xl-none">
    <nav class="navbar navbar-dark bg-dark movil">
        <div class="col-2 col-xl-2">
            <img src="../../assets/img/icono-pequeño.png">
        </div>
        <div class="col-7 col-xl-7">
            <div class="input-group">
                <button type="button" style="margin-left: 5px;max-width:100%;width:auto;height:auto;" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Especialidades</span>
                  Especialidades
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
            </div>
        </div>
        <div class="col-3 col-xl-3">
            <a class="nav-link active" style="color:#FEFFFF" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="10" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
                <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
            </svg>Ayuda</a>
        </div>
    </nav>
</div>

<div class="d-none d-xl-block">
    <nav class="navbar navbar-dark bg-dark movil">
        <div class="col-2 col-xl-2">
            <img src="../../assets/img/icono-pequeño.png">
        </div>
        <div class="col-7 col-xl-7">
            <div class="input-group">
                <button type="button" style="margin-left: 5px;max-width:100%;width:auto;height:auto;" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Especialidades</span>
                  Especialidades
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
            </div>
        </div>
        <div class="col-3 col-xl-3">
            <a class="nav-link active" style="color:#FEFFFF" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="10" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
                <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
            </svg>Ayuda</a>
        </div>
    </nav>
</div>